/ FULLSCREEN MODAL (.fullscreen)
#menuModal.modal.fade.fullscreen{'aria-hidden' => 'true',
  'aria-labelledby' => 'myModalLabel', role: 'dialog', tabindex: '-1'}
  .modal-dialog
    .modal-content
      .modal-header
        .container.nav-header-box
          .row
            .col-xs-9.col-sm-7
              %a.home-link{href: '/'}
                = image_tag "technekes.png", class: "tks-logo"
                .nav-home-icon-link
                  %i.fa.fa-home{"aria-hidden" => "true"}
                  %span.hometext home
            .col-xs-3.col-sm-5
              .pull-xs-right
                .social.hidden-sm-down.social-links
                  %a{ href: 'https://www.instagram.com/technekes_llc/',
                    target: '_blank' }
                    %i.fa.fa-instagram.social-icons-nav{'aria-hidden' => 'true'}
                  %a{ href: 'https://www.facebook.com/technekes/',
                    target: '_blank' }
                    %i.fa.fa-facebook-official.social-icons-nav{'aria-hidden' => 'true'}
                  %a{ href: 'https://twitter.com/Technekes',
                    target: '_blank' }
                    %i.fa.fa-twitter.social-icons-nav{'aria-hidden' => 'true'}
                  %a{ href: 'https://www.linkedin.com/company/technekes-llc',
                    target: '_blank' }
                    %i.fa.fa-linkedin-square.social-icons-nav{'aria-hidden' => 'true'}
                = image_tag "menu-close.png", "data-target" => "#menuModal", "data-toggle" => "modal", :type => "button", class: "close-btn"
      .modal-body.text-center
        .container
          .row
            .col-md-4.col-sm-6
              = link_to '/capabilities.html' do
                .nav-card
                  .nav-headline
                    Capabilities
                .subhead-header
                  what we do
            .col-md-4.col-sm-6
              = link_to '/partners.html' do
                .nav-card
                  .nav-headline
                    Partners
                .subhead-header
                  tools & tech
            .col-md-4.col-sm-6
              = link_to '/company.html' do
                .nav-card
                  .nav-headline
                    The Company
                .subhead-header
                  about us
            .col-md-4.col-sm-6
              = link_to '/careers.html' do
                .nav-card
                  .nav-headline
                    Careers
                .subhead-header
                  join our team
            .col-md-4.col-sm-6
              = link_to '/contact.html' do
                .nav-card
                  .nav-headline
                    Contact Us
                .subhead-header
                  get in touch
            .col-md-4.col-sm-6
              = link_to '/news.html' do
                .nav-card
                  .nav-headline
                    news
                .subhead-header
                  updates & events
