/ FULLSCREEN MODAL (.fullscreen)
#menuModal.modal.fade.fullscreen{'aria-hidden' => 'true',
  'aria-labelledby' => 'myModalLabel', role: 'dialog', tabindex: '-1'}
  .modal-dialog
    .modal-content
      .modal-header
        .container.nav-header-box
          .row
            .col-xs-6
              %a.home-link{href: 'index.html'}
                = image_tag "technekes.png", class: "tks-logo"
                %i.fa.fa-home{"aria-hidden" => "true"}
                %span.hometext home
            .col-xs-6
              .pull-xs-right
                .social.hidden-sm-down.social-links
                  %a{ href: 'https://www.instagram.com/technekes_llc/',
                    target: '_blank' }
                    %i.fa.fa-instagram.social-icons-nav{'aria-hidden' => 'true'}
                  %a{ href: 'https://www.facebook.com/technekes/',
                    target: '_blank' }
                    %i.fa.fa-facebook-official.social-icons-nav{'aria-hidden' => 'true'}
                  %a{ href: 'https://twitter.com/Technekes',
                    target: '_blank' }
                    %i.fa.fa-twitter.social-icons-nav{'aria-hidden' => 'true'}
                  %a{ href: 'https://www.linkedin.com/company/technekes-llc',
                    target: '_blank' }
                    %i.fa.fa-linkedin-square.social-icons-nav{'aria-hidden' => 'true'}
                = image_tag "menu-close.png", "data-target" => "#menuModal", "data-toggle" => "modal", :type => "button", class: "open-btn"
      .modal-body.text-center
        .container
          .row
            .col-md-4.col-sm-6
              %a{ href: 'services.html' }
                .nav-card
                  .subhead-nav-box
                    .subhead-header services
                  .nav-headline
                    = link_to 'Capabilities', '/services.html'
            .col-md-4.col-sm-6
              %a{ href: 'partners.html' }
                .nav-card
                  .subhead-nav-box
                    .subhead-header collaboration
                  .nav-headline
                    = link_to 'Our Partners', '/partners.html'
            .col-md-4.col-sm-6
              %a{ href: 'about.html' }
                .nav-card
                  .subhead-nav-box
                    .subhead-header about us
                  .nav-headline
                    = link_to 'The Company', '/about.html'
            .col-md-4.col-sm-6
              %a{ href: 'joinus.html' }
                .nav-card
                  .subhead-nav-box
                    .subhead-header join us
                  .nav-headline
                    = link_to 'Careers', '/joinus.html'
            .col-md-4.col-sm-6
              %a{ href: 'visitus.html' }
                .nav-card
                  .subhead-nav-box
                    .subhead-header contact
                  .nav-headline
                    = link_to 'Visit Us', '/visitus.html'
            .col-md-4.col-sm-6
              %a{ href: 'news.html' }
                .nav-card
                  .subhead-nav-box
                    .subhead-header news
                  .nav-headline
                    = link_to 'Updates & Events', '/news.html'

    / /.modal-content
  / /.modal-dialog
/ /.fullscreen
