/ FULLSCREEN MODAL (.fullscreen)
#menuModal.modal.fade.fullscreen{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        = image_tag("technekes.png")
        %i.fa.fa-instagram.social-icons-nav{"aria-hidden" => "true"}
        %i.fa.fa-facebook-official.social-icons-nav{"aria-hidden" => "true"}
        %i.fa.fa-twitter.social-icons-nav{"aria-hidden" => "true"}
        %i.fa.fa-linkedin-square.social-icons-nav{"aria-hidden" => "true"}

        %button.close.navbar-toggler.btn{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
          %i.fa.fa-times{"aria-hidden" => "true"}
      .modal-body.text-center
        .container
          .row
            .col-md-4.nav-card
              .subhead-nav-box
                .subhead-header services
              .nav-headline
                = link_to 'Capabilities', '/services.html'
            .col-md-4.nav-card
              .subhead-nav-box
                .subhead-header partners
              .nav-headline
                = link_to 'Our Friends', '/partners.html'
            .col-md-4.nav-card
              .subhead-nav-box
                .subhead-header about us
              .nav-headline
                = link_to 'The Company', '/about.html'
          .row
            .col-md-4.nav-card
              .subhead-nav-box
                .subhead-header join us
              .nav-headline
                = link_to 'Careers', '/joinus.html'
            .col-md-4.nav-card
              .subhead-nav-box
                .subhead-header contact
              .nav-headline
                = link_to 'Visit Us', '/#.html'
            .col-md-4.nav-card
              .subhead-nav-box
                .subhead-header news & resources
              .nav-headline
                = link_to 'Updates & Events', '/#.html'

    / /.modal-content
  / /.modal-dialog
/ /.fullscreen
