/ FULLSCREEN MODAL (.fullscreen)
#menuModal.modal.fade.fullscreen{'aria-hidden' => 'true',
  'aria-labelledby' => 'myModalLabel', role: 'dialog', tabindex: '-1'}
  .modal-dialog
    .modal-content
      .modal-header
        .container.nav-header-box
          = link_to image_tag("technekes.png"), '/index.html', class: "tks-logo"
          .right
            .social.hidden-sm-down.social-links
              %a{ href: 'https://www.instagram.com/technekes_llc/',
                target: '_blank' }
                %i.fa.fa-instagram.social-icons-nav{'aria-hidden' => 'true'}
              %a{ href: 'https://www.facebook.com/technekes/',
                target: '_blank' }
                %i.fa.fa-facebook-official.social-icons-nav{'aria-hidden' => 'true'}
              %a{ href: 'https://twitter.com/Technekes',
                target: '_blank' }
                %i.fa.fa-twitter.social-icons-nav{'aria-hidden' => 'true'}
              %a{ href: 'https://www.linkedin.com/company/technekes-llc',
                target: '_blank' }
                %i.fa.fa-linkedin-square.social-icons-nav{'aria-hidden' => 'true'}
            = image_tag "menu-close.png", "data-target" => "#menuModal", "data-toggle" => "modal", :type => "button", class: "open-btn"
      .modal-body.text-center
        .container
          .row
            %a{ href: '/services.html',
              target: '_blank' }
              .col-md-4.nav-card
                .subhead-nav-box
                  .subhead-header services
                .nav-headline
                  = link_to 'Capabilities', '/services.html'
            %a{ href: '/partners.html', target: '_blank' }
              .col-md-4.nav-card
                .subhead-nav-box
                  .subhead-header collaboration
                .nav-headline
                  = link_to 'Our Partners', '/partners.html'
            %a{ href: '/about.html', target: '_blank' }
              .col-md-4.nav-card
                .subhead-nav-box
                  .subhead-header about us
                .nav-headline
                  = link_to 'The Company', '/about.html'
          .row
            %a{ href: '/joinus.html', target: '_blank' }
              .col-md-4.nav-card
                .subhead-nav-box
                  .subhead-header join us
                .nav-headline
                  = link_to 'Careers', '/joinus.html'
            %a{ href: '/visitus.html', target: '_blank' }
              .col-md-4.nav-card
                .subhead-nav-box
                  .subhead-header contact
                .nav-headline
                  = link_to 'Visit Us', '/visitus.html'
            %a{ href: '/news.html', target: '_blank' }
              .col-md-4.nav-card
                .subhead-nav-box
                  .subhead-header news
                .nav-headline
                  = link_to 'Updates & Events', '/news.html'

    / /.modal-content
  / /.modal-dialog
/ /.fullscreen
