/ FULLSCREEN MODAL (.fullscreen)
#menuModal.modal.fade.fullscreen{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        .container
          %button.close.navbar-toggler.btn{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} &times;
        %h4.modal-title.text-center
          %span.sr-only main navigation
      .modal-body.text-center
        .container
          .row
            .col-md-4
              %h1
                = link_to 'Create Demand', '/#.html'
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur molestie fringilla nibh vel tempor. Duis vitae consequat massa, nec dignissim sapien. Morbi eu libero in erat egestas rutrum eu et felis. Ut lacinia a eros vel imperdiet. Aliquam suscipit malesuada turpis, et efficitur ligula blandit quis. In a suscipit velit. Donec tristique mauris non orci ornare, vel viverra ligula tristique.
            .col-md-4
              %h1
                = link_to 'Services', '/services.html'
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur molestie fringilla nibh vel tempor. Duis vitae consequat massa, nec dignissim sapien. Morbi eu libero in erat egestas rutrum eu et felis. Ut lacinia a eros vel imperdiet. Aliquam suscipit malesuada turpis, et efficitur ligula blandit quis. In a suscipit velit. Donec tristique mauris non orci ornare, vel viverra ligula tristique.
            .col-md-4
              %h1
                = link_to 'Partners', '/partners.html'
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur molestie fringilla nibh vel tempor. Duis vitae consequat massa, nec dignissim sapien. Morbi eu libero in erat egestas rutrum eu et felis. Ut lacinia a eros vel imperdiet. Aliquam suscipit malesuada turpis, et efficitur ligula blandit quis. In a suscipit velit. Donec tristique mauris non orci ornare, vel viverra ligula tristique.
          .row
            .col-md-4
              %h1
                = link_to 'About Us', '/about.html'
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur molestie fringilla nibh vel tempor. Duis vitae consequat massa, nec dignissim sapien. Morbi eu libero in erat egestas rutrum eu et felis. Ut lacinia a eros vel imperdiet. Aliquam suscipit malesuada turpis, et efficitur ligula blandit quis. In a suscipit velit. Donec tristique mauris non orci ornare, vel viverra ligula tristique.
            .col-md-4
              %h1
                = link_to 'Join Us', '/joinus.html'
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur molestie fringilla nibh vel tempor. Duis vitae consequat massa, nec dignissim sapien. Morbi eu libero in erat egestas rutrum eu et felis. Ut lacinia a eros vel imperdiet. Aliquam suscipit malesuada turpis, et efficitur ligula blandit quis. In a suscipit velit. Donec tristique mauris non orci ornare, vel viverra ligula tristique.
            .col-md-4
              %h1
                = link_to 'News & Resources', '/#.html'
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur molestie fringilla nibh vel tempor. Duis vitae consequat massa, nec dignissim sapien. Morbi eu libero in erat egestas rutrum eu et felis. Ut lacinia a eros vel imperdiet. Aliquam suscipit malesuada turpis, et efficitur ligula blandit quis. In a suscipit velit. Donec tristique mauris non orci ornare, vel viverra ligula tristique.
          .row
            .col-md-4
              %h3 @Instagram
            .col-md-4
              %h3 @Twitter
            .col-md-4
              %h3 @Facebook
            .col-md-4
              %h3 @LinkedIn
    / /.modal-content
  / /.modal-dialog
/ /.fullscreen