!!!
%html
  %head
    %meta{:content => 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}/
    %meta{:charset => 'utf-8'}/
    %meta{:content => 'width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no', :name => 'viewport'}/
    %title
      Stratifyd#{' | ' + current_page.data.title if current_page.data.title}
    %meta{:content => "#ffffff", :name => "msapplication-TileColor"}/
    %meta{:content => "#ffffff", :name => "theme-color"}/
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>

    :sass
      #fouc
        display: none

  %body#fouc{class: page_classes}
    = partial "layouts/navbar"
    = yield
    = partial "layouts/footer"

    -# = javascript_include_tag 'commons.js'
    = javascript_include_tag 'vendor.bundle'
    = javascript_include_tag 'index.bundle'
