.container.content-section
  .row
    .col-md-7
      .subhead What we know
      .highlighted-content-box
        .highlighted-content Capabilities
      .body-copy Technekes is filled with talented folks from a range of different fields of work. These are the areas in which we thrive and build upon every day. Click through to read more about each opportunity.
.container
  #theGrid.main
    %section.grid
      %a.grid__item.icon-box{:href => "#"}
        = image_tag "capabilities/demand-generation.png", class: "capabilities-icon center-block"
        = image_tag "capabilities/demand-generation-color.png", class: "capabilities-icon center-block"
        .loader
        .meta.meta--preview
          %h3.title.title--preview Demand Creation
      %a.grid__item.icon-box{:href => "#"}
        = image_tag "capabilities/marketing_sales-technology.png", class: "capabilities-icon center-block"
        = image_tag "capabilities/marketing_sales-technology-color.png", class: "capabilities-icon center-block"
        .loader
        .meta.meta--preview
          %h3.title.title--preview Marketing & Sales Technology
      %a.grid__item.icon-box{:href => "#"}
        = image_tag "capabilities/teleservices.png", class: "capabilities-icon center-block"
        = image_tag "capabilities/teleservices-color.png", class: "capabilities-icon center-block"
        .loader
        .meta.meta--preview
          %h3.title.title--preview Data Services
      %a.grid__item.icon-box{:href => "#"}
        = image_tag "capabilities/teleservices.png", class: "capabilities-icon center-block"
        = image_tag "capabilities/teleservices-color.png", class: "capabilities-icon center-block"
        .loader
        .meta.meta--preview
          %h3.title.title--preview Data Science
      %a.grid__item.icon-box{:href => "#"}
        = image_tag "capabilities/teleservices.png", class: "capabilities-icon center-block"
        = image_tag "capabilities/teleservices-color.png", class: "capabilities-icon center-block"
        .loader
        .meta.meta--preview
          %h3.title.title--preview TeleServices
      %a.grid__item.icon-box{:href => "#"}
        = image_tag "capabilities/incentive-loyalty_program-mgmt.png", class: "capabilities-icon center-block"
        = image_tag "capabilities/incentive-loyalty_program-mgmt-color.png", class: "capabilities-icon center-block"
        .meta.meta--preview
          .loader
          %h3.title.title--preview Incentive, Loyalty & Rebate Program Management
    %section.content
      .scroll-wrap
        %article.content__item
          .row.content__item__heading
            .col-xs-12.col-sm-3
              .cap-tags
                .tag Data Management
                .tag Data Hygiene
                .tag Analytics
            .col-xs-12.col-sm-6
              .cap-icon-title
                = image_tag "capabilities/demand-generation-color.png", class: "capabilities-icon center-block"
                %h3.title.title--full Demand Creation
            .col-xs-12.col-sm-10.col-sm-offset-1
              %p.text-xs-center.text-muted
                We help you find, keep and profitably grow your customers.
          .cap-details
            .row
              .col-md-6.cap-summary
                Demand creation is Technekes' process to help you drive sales. We do this by designing, orchestrating and executing highly integrated marketing and sales tactics. We give you the people, technology and know-how to identify decision makers, qualify opportunities and engage customers and prospects in ways that deliver a measurable and profitable return on your marketing dollar.
              .col-md-6.cap-action-items
                .highlighted-content-box
                  .cap-action-items__heading
                    TURNKEY DEMAND CENTER SERVICES TO:
                %ul.cap-action-items__list
                  %li	Identify decision makers
                  %li	Qualify opportunities
                  %li	Maximize customer engagement across multiple channels
                  %li	Generate, nurture and score leads
                  %li	Integrate and align with sales processes
                  %li	Measure program impact and determine ROI
        %article.content__item
          .row.content__item__heading
            .col-xs-12.col-sm-3
              .cap-tags
                .tag Data Management
                .tag Data Hygiene
                .tag Analytics
            .col-xs-12.col-sm-6
              .cap-icon-title
                = image_tag "capabilities/marketing_sales-technology-color.png", class: "capabilities-icon center-block"
                %h3.title.title--full Marketing & Sales Technology
            .col-xs-12.col-sm-10.col-sm-offset-1
              %p.text-xs-center.text-muted
                We assist you utilize marketing and sales technology to drive growth.
          .cap-details
            .row
              .col-md-6.cap-summary
                Technekes has the technical resources you need to successfully enable your marketing and sales systems and processes. We assist clients with everything from data integrations to marketing automation implementation, CRM and custom software and application development.
              .col-md-6.cap-action-items
                .highlighted-content-box
                  .cap-action-items__heading
                    DESIGN & IMPLEMENT TECHNOLOGIES TO:
                %ul.cap-action-items__list
                  %li Integrate data from disparate systems
                  %li Drive engagement with marketing automation system implementation
                  %li Solve for a unified view of customers and accounts
                  %li Enable sales with CRM platform design, delivery and maintenance
                  %li Implement analytics and business intelligence platforms
                  %li Address unique challenges with purpose-built marketing and sales apps
        %article.content__item
          .row.content__item__heading
            .col-xs-12.col-sm-3
              .cap-tags
                .tag Data Management
                .tag Data Hygiene
                .tag Analytics
            .col-xs-12.col-sm-6
              .cap-icon-title
                = image_tag "capabilities/teleservices-color.png", class: "capabilities-icon center-block"
                %h3.title.title--full Data Services
            .col-xs-12.col-sm-10.col-sm-offset-1
              %p.text-xs-center.text-muted
                Many marketers don’t know that data quality is the single most important variable impacting their success. Fortunately, we do.
          .cap-details
            .row
              .col-md-6.cap-summary
                Data is the lifeblood of demand creation. High quality customer and prospect information, and the insights it provides, isn’t just important. It’s essential. That’s why Technekes provides end-to-end services for building, maintaining and leveraging the highest quality data to drive marketing and sales.
              .col-md-6.cap-action-items
                .highlighted-content-box
                  .cap-action-items__heading
                    DELIVER DATA SOLUTIONS TO:
                %ul.cap-action-items__list
                  %li	Integrate data from multiple systems including ERP, CRM, marketing automation and other silos
                  %li	Audit incoming data to identify incomplete and/or inaccurate information
                  %li	Clean, standardize and enhance customer and prospect records
                  %li	Establish "one version of the truth" at an individual- and account-level
                  %li	Mine data to identify opportunities and prioritize targets
                  %li	Measure impact and ROI of every demand creation action
        %article.content__item
          .row.content__item__heading
            .col-xs-12.col-sm-3
              .cap-tags
                .tag Data Management
                .tag Data Hygiene
                .tag Analytics
            .col-xs-12.col-sm-6
              .cap-icon-title
                = image_tag "capabilities/teleservices-color.png", class: "capabilities-icon center-block"
                %h3.title.title--full Data Science
            .col-xs-12.col-sm-10.col-sm-offset-1
              %p.text-xs-center.text-muted
                Many marketers don’t know that data quality is the single most important variable impacting their success. Fortunately, we do.
          .cap-details
            .row
              .col-md-6.cap-summary
                Data is the lifeblood of demand creation. High quality customer and prospect information, and the insights it provides, isn’t just important. It’s essential. That’s why Technekes provides end-to-end services for building, maintaining and leveraging the highest quality data to drive marketing and sales.
              .col-md-6.cap-action-items
                .highlighted-content-box
                  .cap-action-items__heading
                    DELIVER DATA SOLUTIONS TO:
                %ul.cap-action-items__list
                  %li	Integrate data from multiple systems including ERP, CRM, marketing automation and other silos
                  %li	Audit incoming data to identify incomplete and/or inaccurate information
                  %li	Clean, standardize and enhance customer and prospect records
                  %li	Establish "one version of the truth" at an individual- and account-level
                  %li	Mine data to identify opportunities and prioritize targets
                  %li	Measure impact and ROI of every demand creation action
        %article.content__item
          .row.content__item__heading
            .col-xs-12.col-sm-3
              .cap-tags
                .tag Data Management
                .tag Data Hygiene
                .tag Analytics
            .col-xs-12.col-sm-6
              .cap-icon-title
                = image_tag "capabilities/teleservices-color.png", class: "capabilities-icon center-block"
                %h3.title.title--full TeleServices
            .col-xs-12.col-sm-10.col-sm-offset-1
              %p.text-xs-center.text-muted
                "92% of all customer interactions happen on the phone" &mdash; Salesforce (April, 2015).
          .cap-details
            .row
              .col-md-6.cap-summary
                What's the most overlooked tool in sales? The telephone. True be told, nothing beats an actual conversation for customer engagement! It's a mission-critical function in many of our demand creation actions. We use it to help you identify decision makers, qualify leads, build relationships and support customers.
              .col-md-6.cap-action-items
                .highlighted-content-box
                  .cap-action-items__heading
                    TELESERVICES FOR:
                %ul.cap-action-items__list
                  %li	Outbound
                  %li	Inbound
                  %li	Customer Support
                  %li	Sales Support
                  %li	Inside Sales
        %article.content__item
          .row.content__item__heading
            .col-xs-12.col-sm-3
              .cap-tags
                .tag Data Management
                .tag Data Hygiene
                .tag Analytics
            .col-xs-12.col-sm-6
              .cap-icon-title
                = image_tag "capabilities/incentive-loyalty_program-mgmt-color.png", class: "capabilities-icon center-block"
                %h3.title.title--full Incentive, Loyalty & Rebate Program Management
            .col-xs-12.col-sm-10.col-sm-offset-1
              %p.text-xs-center.text-muted
                Recognizing and rewarding behavior is a powerful tool to boost sales. We’re your one-stop-shop for end-to-end incentive program management.
          .cap-details
            .row
              .col-md-6.cap-summary
                Technekes plans, executes and delivers B2B incentive, loyalty and rebate programs that drive sales. Our incentive solutions provide the flexibility and tools you need to deliver an exceptional experience for your customers, regardless of program complexity.
              .col-md-6.cap-action-items
                .highlighted-content-box
                  .cap-action-items__heading
                    KEY CAPABILITIES:
                %ul.cap-action-items__list
                  %li Program consultation and design
                  %li Management of data collection and validation
                  %li Determination of program qualification, incentive calculations and quality control
                  %li Automated payment/incentive approval workflow and tracking
                  %li Real-time visibility to program participation and exposure
                  %li Fully compliant financial reporting and audit workflow
      %button.close-button
        %svg{:version => "1.1", :viewPort => "0 0 25 25", :xmlns => "http://www.w3.org/2000/svg"}
          %line{:stroke => "#888", "stroke-width" => "2", :x1 => "1", :x2 => "25", :y1 => "25", :y2 => "1"} /
          %line{:stroke => "#888", "stroke-width" => "2", :x1 => "1", :x2 => "25", :y1 => "1", :y2 => "25"} /
