---
title: About Us
---
.jumbotron-fluid#aboutJumbo
  .container
    .text-xs-center
      %h1.header.light.m-b-1 About Us
    .row
      .col-md-6
        %p.light
          Signals was born in 2012 when the Federal Government awarded a grant to the Charlotte Visualization Center to develop new methods of processing global textual data to combat disease and terrorism.

      .col-md-6
        %p.light
          From the academia foundation of taking a fresh look at an existing problem, our founder Dr. Derek Wang assembled a team determined to provide a powerful yet simple method of navigating and identifying actionable data without a data scientist or a predefined ontology.
.block
  .container
    .row
      .col-lg-5.col-sm-12
        .text-xs-center
          %img{:alt => "Card image cap", :src => "assets/images/about-our-beginning.png", class: "wide m-b-2"}/
      .col-lg-6.col-sm-12.col-lg-offset-1
        .header-sm.m-b-1 Our Beginning
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        %button.btn.btn-primary-dark.m-y-1 Learn More
%hr
.block.leadership
  .container
    .text-xs-center
      .header-sm.m-b-3 Leadership
    .row
      .col-md-3.col-xs-12.col-sm-6.m-b-2
        .text-xs-center
          = image_tag "assets/images/headshots/team-derek.jpg", class: "user"
          .serif-md.blue Derek Wang, Ph.D.
          %p CEO & Founder
          %a{ href: "https://www.linkedin.com/in/derekxywang", target: "_blank" }
            %i.fa.fa-linkedin-square{"aria-hidden" => "true"}

      .col-md-3.col-xs-12.col-sm-6.m-b-2
        .text-xs-center
          = image_tag "assets/images/headshots/team-thomas.jpg", class: "user"
          .serif-md.blue Thomas Kraft
          %p VP of Engineering
          %a{ href: "https://www.linkedin.com/in/tomakraft", target: "_blank" }
            %i.fa.fa-linkedin-square{"aria-hidden" => "true"}

      .col-md-3.col-xs-12.col-sm-6.m-b-2
        .text-xs-center
          = image_tag "assets/images/headshots/team-brad.jpg", class: "user"
          .serif-md.blue Brad Fleeman
          %p VP of Global Sales
          %a{ href: "https://www.linkedin.com/in/brad-fleeman-8346299", target: "_blank" }
            %i.fa.fa-linkedin-square{"aria-hidden" => "true"}

      .col-md-3.col-xs-12.col-sm-6.m-b-2
        .text-xs-center
          = image_tag "assets/images/headshots/team-li-yu.jpg", class: "user"
          .serif-md.blue Li Yu, Ph.D.
          %p VP of Data Visualization
          %a{ href: "https://www.linkedin.com/in/liyu2", target: "_blank" }
            %i.fa.fa-linkedin-square{"aria-hidden" => "true"}
%hr
.block
  .container
    .text-xs-center
      .header-sm Our Team
      %img.wide{:alt => "Card image cap", :src => "assets/images/team-photo.jpg"}/

%hr
.block
  .container
    .text-xs-center
      .header-sm.m-b-2 Media
    .container-fluid
      .row
        - data.media.each do |article|
          .col-lg-4.col-md-6
            .card
              .media-logo-box.text-xs-center
                %img.card-img-top.media-logo{ alt: "Card image cap", src: "/assets/images/media/#{article.image}" }
              .card-block.text-xs-center.text-md-left
                .card-subhead
                  = article.name
                %h4.card-title
                  = article.title
                .body-copy.card-text
                  = article.description
                %br
                .text-xs-center
                  %a.btn.btn-primary-dark.wide{ href: "#{article.link}" } Read full Article
