---
title: Careers
---

.jumbotron.careers-header
  .container.small-box
    .header-headline Careers
    .subhead-hero Join Our Team
    .row
      .col-md-6.header-body-copy
        %p If you’re the kind of person who enjoys working in a creative atmosphere fostering innovative thinking, inspired solutions and a passion for results, we might be the right fit. We’re always on the lookout for talented teammates – both here at our Charlotte headquarters and in key locations around the country. Here’s what we’ve got to offer right now.

.container.content-section
  .row
    .col-md-4.copy-spacing
      .subhead-content-box
        .subhead Open positions
      %br
      .body-copy While the available positions change, Technekes wants innovative, fun team members on its team. Check out our listings and apply if you want to work in a great environment.
      %br
      .body-copy
        Don’t see the opportunity you’re looking for? No worries – just apply to our General Submission, attach your resume, and let us know why you'd be a good fit.
      %br
      .body-copy
        And be sure to visit our sister company
        %a.link{ :href => "https://www.xceleration.com/", target: "_blank" } Xceleration
        to check out other opportunities.
    .col-md-8
      .row
        .col-xs-12
          #accordion{"aria-multiselectable" => "true", :role => "tablist"}
            .panel.panel-default
              - data.jobs.each_with_index do |job, index|
                #heading.panel-heading{:role => "tab"}
                  %a{"aria-controls" => "collapse#{index}", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse#{index}"}
                    .position
                      .numeral= job.number
                      .position-title-box
                        .blue-title-small= job.title
                .panel-collapse.collapse.job-description{"aria-labelledby" => "headingOne", :role => "tabpanel", id: "collapse#{index}"}
                  .row
                    .col-xs-12.position-description
                      .body-copy
                        %b= job.title
                        %br
                        %br
                        - if job.description
                          - job.description.each do |things|
                            %p= things

                        %br
                        - if job.responsibilities
                          %b Responsibilities
                          %br
                          %br
                          %ul
                            - job.responsibilities.each do |things|
                              %li= things

                        - if job.credentials
                          %b Credentials
                          %br
                          %br
                          %ul
                            - job.credentials.each do |things|
                              %li= things

                        - if job.candidate
                          %b The Candidate
                          %br
                          %br
                          %ul
                            - job.candidate.each do |things|
                              %li= things
                        %br
                        %b About Technekes
                        %br
                        %br
                        We’re a technology-driven B2B marketing company with an exceptional emphasis on client service. We work hard, we play hard, and we encourage each other to share ideas and best practices. If you’ve got what it takes, we’d like to hear more!
                      %a.centered-link#applyOnline{:href => "#", :onclick => "window.open('#{job.link}', 'App335001', 'width=1024,height=768,status=0,location=0,menubar=0,toolbar=0,directories=0,scrollbars=1,resizable=1'); return false;"}
                        %button.btn.btn-primary{:type => "button"} apply

                      %br
                      %br

.grey
  .container.content-section
    .row
      .col-md-4
        .subhead-content-box.copy-spacing
          .subhead-saturated equal opportunity employer
      .col-md-8
        .body-copy Technekes values a diverse combination of ideas, perspectives, and cultures. As such, Technekes offers equal opportunities without regard to race, color, gender, religion, age, nationality, social or ethnic origin, sexual orientation, gender identity or expression, marital status, pregnancy, disability, veteran status or any other characteristic protected by law.
.instafeed-container
  #instafeed
.container.content-section.text-xs-center
  %a.btn.btn-social.centered-link{ href: "https://www.instagram.com/technekes_llc/", target: "_blank" }
    %i.fa.fa-instagram.insta-link-icon{"aria-hidden" => "true"}
    technekes_llc
