---
title: About Us
---

.jumbotron.about-header
  .container
    .subhead-header About us
    .header-headline The Company
    .row
      .col-lg-6.header-body-copy
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eleifend feugiat tincidunt. Duis in justo nisi. Aliquam sed erat massa. Donec placerat nibh quis sapien gravida, nec venenatis erat tincidunt. Praesent sit amet dapibus magna. Proin sit amet mi enim. Cras hendrerit mauris non ipsum suscipit dapibus eget a tortor.
      .col-lg-6.header-body-copy
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eleifend feugiat tincidunt. Duis in justo nisi. Aliquam sed erat massa. Donec placerat nibh quis sapien gravida, nec venenatis erat tincidunt. Praesent sit amet dapibus magna. Proin sit amet mi enim. Cras hendrerit mauris non ipsum suscipit dapibus eget a tortor.

.container.content-section
  .row
    .col-md-8
      .subhead The Team
      .highlighted-content-box
        .highlighted-content Leaders
      .body-copy Jack and Preston have continued to expand the leadership team here at Technekes as we evolve into new industries, new geographies, and new offerings.
.container
  .row
    - data.leadership.each_with_index do |person, index|
      .col-lg-4.col-sm-6.leadership-tile{ class: ("col-lg-offset-4" if index == data.leadership.length - 1)}
        %img.headshot.center-block{ src: "/assets/images/headshots/#{person.image}", alt: "#{person.name}" }/
        .highlighted-content-centered
          = person.name
        .subhead-centered
          = person.title
        .subhead-centered
          = person.department
        .linkedin-box
          %a{:href => "https://www.linkedin.com/in/#{person.linkedin}", target: "_blank"}
            %i.fa.fa-linkedin-square.leadership-linkedin.center-block{"aria-hidden" => "true"}
        .row
          .col-xs-10.col-xs-offset-1
            .body-copy-small
              = person.description
.divider

.container.timeline-section
  .row
    .col-md-4
      .subhead Timeline
      .highlighted-content-box
        .highlighted-content A Brief History
      .body-copy Lorem ipsum dolor sit amet, consectetur adipiscing elit. In varius scelerisque mi, a efficitur ante aliquet at. Praesent pharetra a mauris eu sodales. Vivamus sagittis magna lacus, nec convallis libero placerat a.
      %br
      .body-copy Lorem ipsum dolor sit amet, consectetur adipiscing elit. In varius scelerisque mi, a efficitur ante aliquet at. Praesent pharetra a mauris eu sodales. Vivamus sagittis magna lacus, nec convallis libero placerat a.
    .col-md-8
      = partial 'layouts/timeline'

.grey
  .container.content-section
    .row
      .col-md-4
        .subhead giving back
        .highlighted-content-box
          .highlighted-content Community Involvement
      .col-md-8
        .body-copy Part of Technekes' culture is rolling up our sleeves and getting involved and making a difference. There are many ways we do this and many groups we work with - both related and unrelated to business.

.container
  .row.content-section
    .col-md-4.col-xs-12
      = image_tag "charities/RMHCLogo.png", class: "center-block charity-logo"
    .col-md-8
      .row
        .col-sm-12.col-xs-10.col-xs-offset-1.col-sm-offset-0
          .highlighted-content-box
            .subhead Red shoe shootout
          .charity-body-copy Our own Jack Ross is a nationally ranked shooter, so helping him found and sponsor the Ronald McDonald House of Charlotte Red Shoe Shootout has been a natural fit for us. Since the first Shootout in 2011, Technekes has also provided organizers, teams, volunteers, and of course, one heckuva sharpshooter.
          %a.uppercase-link{href: "http://www.rmhofcharlotte.org/", target: "_blank"} Visit site

  .row.content-section
    .col-md-4.col-xs-12
      = image_tag "charities/allinlogo.png", class: "center-block charity-logo"
    .col-md-8
      .row
        .col-sm-12.col-xs-10.col-xs-offset-1.col-sm-offset-0
          .highlighted-content-box
            .subhead all-in to fight cancer
          .charity-body-copy  When a mutual friend was diagnosed with cancer, Steve and Scott banded some friends together to found All-In To Fight Cancer, which hosts Texas Hold'em fundraisers around the country, with all proceeds going back to the local cancer community of healthcare providers, families, and survivors.
          %a.uppercase-link{href: "http://www.allintofightcancer.org/", target: "_blank"} Visit site

.jumbotron.headquarters-box
  .container
    .subhead-header headquarters
    .highlighted-content-box
      .highlighted-content-saturated Home Sweet Home
    .row
      .col-md-8.header-body-copy
        %p founded and headquartered in Charlotte, Technekes also has a presence in Canada. In addition, we have many team members spread across the country in key markets.
