---
title: The Company
---

.jumbotron.about-header
  .container
    .header-headline The Company
    .subhead-hero About us
    .row
      .col-lg-6.header-body-copy
        %p
          Technekes opened our doors in 2000, as two guys with a shared vision for this thing they called
          %i demand creation.
        %p Today, Technekes is North America’s leading provider of demand creation services for agricultural, life sciences, healthcare, manufacturing, construction and other B2B manufacturers and distributors.
      .col-lg-6.header-body-copy

        %p Our secret? It’s simple, really. We find our success in yours. Our overriding goal is to help you generate a profitable return on your marketing investment.
.container.content-section
  .row
    .col-md-10
      .highlighted-content-header Leaders
      .subhead-content-box
        .subhead The Team
      .body-copy We have expanded our leadership team as we evolve into new industries, new geographies, and new offerings.
.container
  .row
    - data.leadership.each_with_index do |person, index|
      .col-lg-4.col-sm-6.leadership-tile{ class: ("col-lg-offset-4" if index == data.leadership.length - 1)}
        %img.headshot.center-block{ src: "/assets/images/headshots/#{person.image}", alt: "#{person.name}" }/
        .highlighted-content-centered
          = person.name
        .subhead-centered
          = person.title
        .subhead-centered
          = person.department
        .linkedin-box
          %a{:href => "https://www.linkedin.com/in/#{person.linkedin}", target: "_blank"}
            %i.fa.fa-linkedin-square.leadership-linkedin.center-block{"aria-hidden" => "true"}
        .row
          .col-xs-10.col-xs-offset-1
            .body-copy-small
              = person.description
.divider

.container.timeline-section
  .row
    .col-md-4
      .highlighted-content-header A Brief History
      .subhead-content-box
        .subhead Timeline
      .body-copy While the company has grown every year, and our capabilities and technologies have evolved, Technekes' “DNA” remains unchanged.
    .col-md-8
      = partial 'layouts/timeline'

.grey
  .container.content-section
    .row
      .col-md-4
        .highlighted-content-header Community Involvement
        .subhead-content-box
          .subhead giving back

      .col-md-8
        .body-copy Part of Technekes' culture is rolling up our sleeves, getting involved, and making a difference &mdash; both related and unrelated to our business.

.container
  .row.content-section
    .col-md-4.col-xs-12
      = image_tag "charities/RMHCLogo.png", class: "center-block charity-logo"
    .col-md-8
      .row
        .col-sm-12.col-xs-10.col-xs-offset-1.col-sm-offset-0
          .subhead-content-box-small
            .subhead Red shoe shootout
          .charity-body-copy Our own Jack Ross is a nationally ranked shooter, so helping him found and sponsor the Ronald McDonald House of Charlotte Red Shoe Shootout has been a natural fit for us. Since the first Shootout in 2011, Technekes has provided organizers, teams, volunteers, and of course, one heckuva sharpshooter.
          %a.uppercase-link{href: "http://www.rmhofcharlotte.org/", target: "_blank"} Visit site

  .row.content-section
    .col-md-4.col-xs-12
      = image_tag "charities/allinlogo.png", class: "center-block charity-logo"
    .col-md-8
      .row
        .col-sm-12.col-xs-10.col-xs-offset-1.col-sm-offset-0
          .subhead-content-box-small
            .subhead all-in to fight cancer
          .charity-body-copy  When a mutual friend was diagnosed with cancer, Steve and Scott banded some friends together to found All-In To Fight Cancer, which hosts Texas Hold'em fundraisers. Proceeds go back to the local cancer community of healthcare providers, families, and survivors, and are dedicated to increasing public awareness and raising money to find a cure for cancer.
          %a.uppercase-link{href: "http://www.allintofightcancer.org/", target: "_blank"} Visit site

.jumbotron.headquarters-box
  .container
    .highlighted-content-header-saturated Home Sweet Home
    .subhead-content-box
      .subhead-header headquarters

    .row
      .col-md-8.header-body-copy
        %p Founded and headquartered in Charlotte, Technekes has operations in Canada and team members strategically located across the United States in key markets.
