---
title: Home
---
.jumbotron-fluid#homeJumbo
  .container
    %h1.header.light.m-b-1 The Fastest Path From Data to Revenue
    .row
      .col-md-8
        %p.light
          Stratifyd was founded in 2015 with two key objectives: create a data
          analytics platform anyone can use; and make it powerful enough that
          everyone will want to use it. Our founder, Derek Wang, Ph.D., brought
          an academic approach to an existing challenge and assembled a team to
          develop a powerful yet simple method of identifying and visualizing
          both structured and unstructured data. By abandoning traditional models
          and processes and allowing augmented human intelligence through our
          patented machine learning, Stratifyd has enabled our customers to turn
          their unstructured and unused data into revenue opportunities.

.block
  .container
    .text-xs-center
      .header-sm The Next Generation of Data Analytics
      .row
        .col-md-8.col-md-offset-2
          %img{ alt: "Card image cap", src: "assets/images/icons/ex.png", class: "circle-icon m-t-2" }
          .serif-md.blue.m-y-1 The Challenge With Traditional Data Analytics
          %p
            Data proliferation coupled with the pace of business innovation
            is accelerating and the ability to perform targeted analysis before
            windows of opportunity close is paramount.  The fundamental challenge
            of traditional analytics is that it requires you to know what you’re
            looking for from the start.  As products, feedback and interaction
            methods evolve - you must constantly maintain those changes in
            traditional taxonomies and ontological maps.  It takes time, money
            and specialized skills to stay current, unfortunately most analytical
            campaigns run beyond the window of opportunity.
      .row.hidden-xs-down
        .col-sm-8.col-sm-offset-2
          .giant-arrow
      .row
        .col-md-8.col-md-offset-2
          %img{ alt: "Card image cap", src: "assets/images/icons/check.png", class: "circle-icon m-t-2" }
          .serif-md.blue.m-y-1 Our Approach
          %p
            Based on years of academic research and innovation in the
            field of data science, our platform uses next generation technology
            to “learn” the contents of any data set without the need for
            predetermined structures or methods of interpretation.  The unbiased,
            immediate and highly intuitive results allow users to transition from
            raw data to decision BEFORE it’s too late.
      %a.btn.btn-primary-dark.m-t-2{ href: "solutions.html", role: "button" } Learn About Our Solutions

.block-blue-pad
  .container
    .row
      .col-md-6
        .text-xs-center
          %img{ src: "assets/images/screenshots/Homepage-Laptop-Mockup.png", class: "wide" }
      .col-md-5.text-xs-center.text-md-left
        .header-sm.light.m-y-1 Signals
        %p.light
          Signals is an enterprise Business Analytics platform enabling a
          seamless transition from analysis to action through augmented
          intelligence. Our customers deliver faster insights across a wide
          spectrum of disparate data that drives direct revenue.
        %a.btn.btn-primary.m-t-1{ href: "product.html", role: "button" } Learn More

.block
  .text-xs-center
    .header-sm.m-b-2 Case Studies
  .container
    .row
      - @featured_cases = data.case_studies.select { |hash| hash[:featured] }
      - @featured_cases.first(3).each do |study|
        .col-md-4
          %a.case_study_card{ href: "#{study.slug}.html" }
            .card
              .card_img_box
                %img.card-img{ src: "assets/images/case_studies/headers/#{study.jumbo}" }/
              .card-block
                .card-subhead
                  = study.focus
                %h4.serif-md
                  = study.header
                -# .body-copy.card-text
                -#   Some quick example text to build on the card title and make
                -#   up the bulk of the card's content.

  .text-xs-center
    %a.btn.btn-primary-dark.m-t-2{ href: 'case-studies.html' }
      Read More Case Studies
.block-blue-pad
  .container
    = partial 'horizontalContactForm'

-# .jumbotron-fluid#homeJumbo{style:'padding-bottom: 0px'}
-#   .title-special-background
-#   .background-light-trans
-#     .container.text-xs-center
-#       %h1.header.m-b-1 DATA TO REVENUE
-#       .row
-#         .col-md-12
-#           %label The Fastest Path From Data to Revenue
-#       %a.btn.btn-warning-yellow.m-t-2{ href: "product.html", role: "button" } Learn More
-#       .index-title-image
-#         %img{ src: "../assets/images/Laptop1-screen.png", class: 'title-sub-background'}
-#
-# .index-title-boxbar
-#   .index-gradient-three-boxes
-#     .col-xs-12.m-t-2
-#       %h3.light Daily Live Demo
-#       %p.light 4:00 pm EST
-#       %a.btn.btn-primary{ href: "request-demo.html", role: "button"} Sign Up Now
-#   .index-gradient-three-boxes
-#     .col-xs-12.m-t-2
-#       %h3.light Client Quote
-#       %p.light Lenovo
-#       %a.btn.btn-primary{ href: "case-studies.html", role: "button"} Case Studies
-#   .index-gradient-three-boxes
-#     .col-xs-12.m-t-2
-#       %h3.light Weighing Options
-#       %p.light{style:'opacity: 0;'} Know more about us
-#       %a.btn.btn-primary{ href: "blog.html", role: "button"} Read More
-#
-# .block-blue-pad{style:'margin-top: -8px'}
-#   .container
-#     .text-xs-center
-#       %h1.header-sm.light{style:'padding-bottom: 20px'} THE STRATIFYD EDGE
-#       .row
-#         .index-subinfo-box
-#           .info-box-no-ani
-#             %img{ alt: "Card image cap", src: "assets/images/icons/Revolutionary_Intelligence_white.png", class: "big-icon m-t-2" }
-#             %h4.light.m-t-2 Revolutionary Intelligence
-#             %p.light Some Describition
-#           .info-box-no-ani
-#             %img{ alt: "Card image cap", src: "assets/images/icons/Realized_Insights_White.png", class: "big-icon m-t-2" }
-#             %h4.light.m-t-2 Realized Insights
-#             %p.light Some Describition
-#           .info-box-no-ani
-#             %img{ alt: "Card image cap", src: "assets/images/icons/Radical_Collaboration_white.png", class: "big-icon m-t-2" }
-#             %h4.light.m-t-2 Radical Collaboration
-#             %p.light Some Describition
-#
-# .block.block-third-dark{style: 'background-image: url("assets/images/Combine-city-background-better.jpg"); background-position: top; background-size: cover;'}
-#   .container
-#     .text-xs-center
-#       %h1.header-sm.light{style:'padding-bottom: 20px'} SOLUTIONS FOR EVERY STRATA
-#       .row
-#         .info-box-ani
-#           .dobule-height-box
-#             .half-height-box
-#               %img{ alt: "Card image cap", src: "assets/images/icons/Hospitality_White.png", class: "square-icon m-t-2" }
-#               %h4.light.m-t-2 Business Executive
-#             .half-height-box
-#               %p.light.m-t-2 There should be some text there
-#               %a.blue{ href: "solutions.htm"} Learn More
-#         .info-box-ani
-#           .dobule-height-box
-#             .half-height-box
-#               %img{ alt: "Card image cap", src: "assets/images/icons/Customer_Experience_White.png", class: "square-icon m-t-2" }
-#               %h4.light.m-t-2 Customer Experience
-#             .half-height-box
-#               %p.light.m-t-2 There should be some text there
-#               %a.blue{ href: "solutions.html"} Learn More
-#         .info-box-ani
-#           .dobule-height-box
-#             .half-height-box
-#               %img{ alt: "Card image cap", src: "assets/images/icons/Executive_White.png", class: "square-icon m-t-2" }
-#               %h4.light.m-t-2 HR
-#             .half-height-box
-#               %p.light.m-t-2 There should be some text there
-#               %a.blue{ href: "solutions.html"} Learn More
-#         .info-box-ani
-#           .dobule-height-box
-#             .half-height-box
-#               %img{ alt: "Card image cap", src: "assets/images/icons/Product_development_White.png", class: "square-icon m-t-2" }
-#               %h4.light.m-t-2 Product Development
-#             .half-height-box
-#               %p.light.m-t-2 There should be some text there
-#               %a.blue{ href: "solutions.html"} Learn More
-#         .info-box-ani
-#           .dobule-height-box
-#             .half-height-box
-#               %img{ alt: "Card image cap", src: "assets/images/icons/Marketing_White.png", class: "square-icon m-t-2" }
-#               %h4.light.m-t-2 Marketing
-#             .half-height-box
-#               %p.light.m-t-2 There should be some text there
-#               %a.blue{ href: "solutions.html"} Learn More
-#         .info-box-ani
-#           .dobule-height-box
-#             .half-height-box
-#               %img{ alt: "Card image cap", src: "assets/images/icons/IT_White.png", class: "square-icon m-t-2" }
-#               %h4.light.m-t-2 IT
-#             .half-height-box
-#               %p.light.m-t-2 There should be some text there
-#               %a.blue{ href: "solutions.html"} Learn More
-#
-#       .row
-#         .col-xs-12
-#           %a.btn.btn-primary.m-t-2{ href: "solutions.html"} View All Solutions
-# .block.block-green
-#   .text-xs-center
-#     %h1.header-sm.light.m-b-2 CASE STUDIES
-#   .container
-#     .row
-#       - @featured_cases = data.case_studies.select { |hash| hash[:featured] }
-#       - @featured_cases.first(3).each do |study|
-#         .col-md-4
-#           %a.case_study_card{ href: "#{study.slug}.html" }
-#             .card{style:'background-color: transparent; border: none'}
-#               .card_img_box
-#                 %img.card-img{ src: "assets/images/case_studies/headers/#{study.jumbo}" }/
-#               .card-block
-#                 .card-subhead
-#                   = study.focus
-#                 %h4.serif-md.light
-#                   = study.header
-#                 -# .body-copy.card-text
-#                 -#   Some quick example text to build on the card title and make
-#                 -#   up the bulk of the card's content.
-#   .text-xs-center
-#     %a.btn.btn-primary.m-t-2{ href: 'case-studies.html' }
-#       Read More Case Studies

-# .block-blue-pad{style:'margin-top: -8px'}
-#   .container
-#     .text-xs-center
-#       %h1.header-sm.light{style:'padding-bottom: 20px'} HOW CAN STRATIFYD HELP YOU?
-#       .row
-#         .col-xs-12.col-xs-offset-0.col-md-4.col-md-offset-2.text-xs-center
-#           %a.btn.btn-primary.m-t-2{ href: 'request-demo.html' } Request Demo
-#         .col-xs-12.col-xs-offset-0.col-md-4.text-xs-center
-#           %a.btn.btn-primary.m-t-2{ href: 'contact-us.html' } Contact Us
