.container
  %h3.display-3.text-xs-center.p-y-3 Join Us

  .jumbotron.jumbotron-fluid
    .container
      %h3.display-4 Seeking Unicorns
      %p.lead Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo
.container
  .row
    .col-md-12
      %p Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.
      %p Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.

.container
  .row
    .col-md-4
      = image_tag 'placeholderbox.png', class: 'placeholder'
    .col-md-4
      = image_tag 'placeholderbox.png', class: 'placeholder'
    .col-md-4
      = image_tag 'placeholderbox.png', class: 'placeholder'
  %br
  .row
    .col-md-4
      = image_tag 'placeholderbox.png', class: 'placeholder'
    .col-md-4
      = image_tag 'placeholderbox.png', class: 'placeholder'
    .col-md-4
      = image_tag 'placeholderbox.png', class: 'placeholder'
  %br
  .row
    .col-md-4
      = image_tag 'placeholderbox.png', class: 'placeholder'
    .col-md-4
      = image_tag 'placeholderbox.png', class: 'placeholder'
    .col-md-4
      = image_tag 'placeholderbox.png', class: 'placeholder'

