
.jumbotron
  .container
    .subhead-header Partners
    .header-headline Our Friends
    .row
      .col-lg-6.header-body-copy
        %p Technekes has experienced a strong history of recurring, annual growth. One of the reasons for this is our partners who collaborate with us so that both sides of the equation are successful. We select partners who act like us - who roll up their sleeves to tackle an issue, to make sure a client initiative is successful.
      .col-lg-6.header-body-copy
        %p Here are some of the partners we work with. Please learn more about them and please reach out if we can provide additional information and/or make introductions.

.container
  .row
    .col-md-4
      = image_tag "placeholderbox.png", class: "placeholder"
      .body-copy Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    .col-md-4
      = image_tag "placeholderbox.png", class: "placeholder"
      .body-copy Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    .col-md-4
      = image_tag "placeholderbox.png", class: "placeholder"
      .body-copy Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  %br
  .row
    .col-md-4
      = image_tag "placeholderbox.png", class: "placeholder"
      .body-copy Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    .col-md-4
      = image_tag "placeholderbox.png", class: "placeholder"
      .body-copy Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    .col-md-4
      = image_tag "placeholderbox.png", class: "placeholder"
      .body-copy Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  %br
  .row
    .col-md-4
      = image_tag "placeholderbox.png", class: "placeholder"
      .body-copy Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    .col-md-4
      = image_tag "placeholderbox.png", class: "placeholder"
      .body-copy Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    .col-md-4
      = image_tag "placeholderbox.png", class: "placeholder"
      .body-copy Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  %br
  .row
    .col-md-4.col-md-offset-4
      = image_tag "placeholderbox.png", class: "placeholder"
      .body-copy Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
