---
title: Partners
---

.jumbotron.partners-header
  .container
    .header-headline Our Partners
    .subhead-hero-blue Tools & Tech
    .row
      .col-lg-6.header-body-copy
        %p Creating demand isn’t easy, requiring best-in-class technology and seamless integration of data across multiple systems including tools for data management, hygiene and enhancement, marketing automation, CRM, and other platforms.
      .col-lg-6.header-body-copy
        %p
          That’s why Technekes works with so many exceptional partners who often play a key role in our efforts &mdash; enhancing and supporting our ability to
          %i create demand
          for you.
.container.content-section
  .row
    .col-lg-4.partner-tile
      %a{ href: "https://www.oracle.com/index.html", target: "_blank" }
        .logo-box
          = image_tag "partners/oracle.jpg", class: "partner-logo"
      .body-copy-small Technekes partners with Oracle Marketing Cloud and AppCloud, working with clients on data integration, ABM and marketing automation on Oracle platforms such as Eloqua, Maxymiser, BlueKai DMP, and Compendium.
    .col-lg-4.partner-tile
      %a{ href: "http://go.sap.com/index.html", target: "_blank" }
        .logo-box
          = image_tag "partners/sap.jpg", class: "partner-logo"
      .body-copy-small SAP develops enterprise software for companies large and small. There are three components to SAP's strategy: applications, platform, and business network.
    .col-lg-4.partner-tile
      %a{ href: "https://www.salesforce.com/", target: "_blank" }
        .logo-box
          = image_tag "partners/salesforce.jpg", class: "partner-logo"
      .body-copy-small SalesForce (SFDC) is a popular CRM used by many of our clients. We operate SFDC for our clients, importing data to run campaigns, build segments and A/B test.
    .col-lg-4.partner-tile
      %a{ href: "https://www.veeva.com/", target: "_blank" }
        .logo-box
          = image_tag "partners/Veeva.jpg", class: "partner-logo"
      .body-copy-small Veeva Systems is a cloud computing company providing cloud-based software to help pharmaceutical companies manage sales and operations, and comply with health industry regulations.
    .col-lg-4.partner-tile
      %a{ href: "https://www.xceleration.com/", target: "_blank" }
        .logo-box
          = image_tag "partners/xceleration.jpg", class: "partner-logo"
      .body-copy-small Xceleration develops and implements incentive, loyalty and recognition solutions for companies to enhance performance of employees, dealers and/or customers. Technekes and Xceleration collaborate to market and fulfill client loyalty programs.
    .col-lg-4.partner-tile
      %a{ href: "http://sureshot.io/", target: "_blank" }
        .logo-box
          = image_tag "partners/sureshot.jpg", class: "partner-logo"
      .body-copy-small SureShot creates smart products, develops custom apps and delivers expert services that empower marketing platforms to do more. Technekes and SureShot collaborate to bring apps to market for their clients.
    .col-lg-4.partner-tile
      %a{ href: "http://inverta.com/", target: "_blank" }
        .logo-box
          = image_tag "partners/inverta.jpg", class: "partner-logo"
      .body-copy-small Inverta develops modern demand generation programs, Account-Based Marketing strategy (ABM) and business process consulting that delivers tangible results. Technekes and Inverta collaborate on aligning strategy and moving to execution.
    .col-lg-4.partner-tile
      %a{ href: "http://www.adaptris.com/", target: "_blank" }
        .logo-box
          = image_tag "partners/Adaptris.jpg", class: "partner-logo"
      .body-copy-small Adaptris simplifies integration challenges for thousands of businesses seeking efficiencies, especially in their supply chains. Technekes works with Adaptris to deploy software solutions and tools for clients.
    .col-lg-4.partner-tile
      %a{ href: "http://www.medvantx.com/", target: "_blank" }
        .logo-box
          = image_tag "partners/medvantx.jpg", class: "partner-logo"
      .body-copy-small MedVantx is an innovative medication management and delivery company. Technekes relies on MedVantx to fulfill programs for our medical device and pharmaceutical clients and patient assistance programs.
    .col-lg-4.col-lg-offset-4.partner-tile
      %a{ href: "https://www.itsallgravy.com/", target: "_blank" }
        .logo-box
          = image_tag "partners/gravy.jpg", class: "partner-logo"
      .body-copy-small Gravy is an online B2B gifting platform to ease the selection and process of business-related gifts. Technekes and Gravy combine efforts to market and enhance client experience(s).
