---
title: Partners
---

.jumbotron.partners-header
  .container
    .subhead-header Collaboration
    .header-headline Our Partners
    .row
      .col-lg-6.header-body-copy
        %p Technekes has experienced a strong history of recurring, annual growth. One of the reasons for this is our partners who collaborate with us so that both sides of the equation are successful. We select partners who act like us - who roll up their sleeves to tackle an issue, to make sure a client initiative is successful.
      .col-lg-6.header-body-copy
        %p Here are some of the partners we work with. Please learn more about them and please reach out if we can provide additional information and/or make introductions.
.container.partners-content
  .row
    .col-lg-4.partner-tile
      %a{ href: "https://www.oracle.com/index.html", target: "_blank" }
        .logo-box
          = image_tag "partners/oracle.jpg", class: "partner-logo"
      .body-copy-small Technekes partners with Oracle’s (one of the world’s largest software companies) Marketing Cloud and AppCloud on data integration, ABM and marketing automation for Eloqua, Maxymiser, Blue Kai, DMP and Compendium.
    .col-lg-4.partner-tile
      %a{ href: "http://go.sap.com/index.html", target: "_blank" }
        .logo-box
          = image_tag "partners/sap.jpg", class: "partner-logo"
      .body-copy-small SAP is a software that develops enterprise software for companies large and small. There are 3 components to SAP's strategy. Applications, platform, and business network.
    .col-lg-4.partner-tile
      %a{ href: "https://www.salesforce.com/", target: "_blank" }
        .logo-box
          = image_tag "partners/salesforce.jpg", class: "partner-logo"
      .body-copy-small SalesForce (SFDC) is a popular CRM used by many of our clients. We operate SFDC for our clients and import data to run campaigns, build segments and A/B test.
    .col-lg-4.partner-tile
      %a{ href: "https://www.veeva.com/", target: "_blank" }
        .logo-box
          = image_tag "partners/Veeva.jpg", class: "partner-logo"
      .body-copy-small Veeva Systems is a cloud computing company providing cloud-based software that is targeted to customers in the Life Sciences industry. It helps pharma companies manage sales and operations, and complies with health industry regulations.
    .col-lg-4.partner-tile
      %a{ href: "https://www.xceleration.com/", target: "_blank" }
        .logo-box
          = image_tag "partners/xceleration.jpg", class: "partner-logo"
      .body-copy-small Xceleration develops and implements incentive, loyalty and recognition solutions for companies to enhance performance of employees, dealers and/or customers. Technekes and Xceleration collaborate to market and fulfill client loyalty programs.
    .col-lg-4.partner-tile
      %a{ href: "http://sureshot.io/", target: "_blank" }
        .logo-box
          = image_tag "partners/sureshot.jpg", class: "partner-logo"
      .body-copy-small SureShot creates smart products, develops custom apps and delivers expert services that empower marketing platforms to do more. Technekes and SureShot collaborate to bring apps to market for their clients.
    .col-lg-4.partner-tile
      %a{ href: "http://inverta.com/", target: "_blank" }
        .logo-box
          = image_tag "partners/inverta.jpg", class: "partner-logo"
      .body-copy-small Inverta develops modern demand generation programs, Account-Based Marketing strategy (ABM) and business process consulting that delivers tangible results. Technekes and Inverta collaborate on aligning strategy and moving to execution.
    .col-lg-4.partner-tile
      %a{ href: "http://www.adaptris.com/", target: "_blank" }
        .logo-box
          = image_tag "partners/Adaptris.jpg", class: "partner-logo"
      .body-copy-small Adaptris simplifies integration challenges for thousands of businesses seeking efficiencies, especially in their supply chains. Technekes works with Adaptris to deploy software solutions and deploys their tools for clients.
    .col-lg-4.partner-tile
      %a{ href: "http://www.medvantx.com/", target: "_blank" }
        .logo-box
          = image_tag "partners/medvantx.jpg", class: "partner-logo"
      .body-copy-small MedVantx is an innovative medication management and delivery company. Technekes works with MedVantx as part of fulfilling programs for our medical device and pharmaceutical clients and patient assistance programs.
    .col-lg-4.col-lg-offset-4.partner-tile
      %a{ href: "https://www.itsallgravy.com/", target: "_blank" }
        .logo-box
          = image_tag "partners/gravy.jpg", class: "partner-logo"
      .body-copy-small Gravy is a online B2B gift-giving platform to ease the selection and process of business-related gifts. Technekes and Gravy combine efforts to market and enhance client experience(s).
