
.jumbotron
  .container
    .subhead-header Partners
    .header-headline Our Friends
    .row
      .col-lg-6.header-body-copy
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eleifend feugiat tincidunt. Duis in justo nisi. Aliquam sed erat massa. Donec placerat nibh quis sapien gravida, nec venenatis erat tincidunt. Praesent sit amet dapibus magna. Proin sit amet mi enim. Cras hendrerit mauris non ipsum suscipit dapibus eget a tortor.
      .col-lg-6.header-body-copy
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eleifend feugiat tincidunt. Duis in justo nisi. Aliquam sed erat massa. Donec placerat nibh quis sapien gravida, nec venenatis erat tincidunt. Praesent sit amet dapibus magna. Proin sit amet mi enim. Cras hendrerit mauris non ipsum suscipit dapibus eget a tortor.

.container
  .row
    .col-md-4
      = image_tag "placeholderbox.png", class: "placeholder"
    .col-md-4
      = image_tag "placeholderbox.png", class: "placeholder"
    .col-md-4
      = image_tag "placeholderbox.png", class: "placeholder"
  %br
  .row
    .col-md-4
      = image_tag "placeholderbox.png", class: "placeholder"
    .col-md-4
      = image_tag "placeholderbox.png", class: "placeholder"
    .col-md-4
      = image_tag "placeholderbox.png", class: "placeholder"
  %br
  .row
    .col-md-4
      = image_tag "placeholderbox.png", class: "placeholder"
    .col-md-4
      = image_tag "placeholderbox.png", class: "placeholder"
    .col-md-4
      = image_tag "placeholderbox.png", class: "placeholder"
  %br
  .row
    .col-md-4
      = image_tag "placeholderbox.png", class: "placeholder"
    .col-md-4
      = image_tag "placeholderbox.png", class: "placeholder"
    .col-md-4
      = image_tag "placeholderbox.png", class: "placeholder"
