.jumbotron
  .subhead-header Services
  .header-headline Capabilities
  .row
    .col-lg-6.header-body-copy
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eleifend feugiat tincidunt. Duis in justo nisi. Aliquam sed erat massa. Donec placerat nibh quis sapien gravida, nec venenatis erat tincidunt. Praesent sit amet dapibus magna. Proin sit amet mi enim. Cras hendrerit mauris non ipsum suscipit dapibus eget a tortor.
    .col-lg-6.header-body-copy
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eleifend feugiat tincidunt. Duis in justo nisi. Aliquam sed erat massa. Donec placerat nibh quis sapien gravida, nec venenatis erat tincidunt. Praesent sit amet dapibus magna. Proin sit amet mi enim. Cras hendrerit mauris non ipsum suscipit dapibus eget a tortor.
.container
  .row
    .col-md-7
      .subhead How we help
      .highlighted-content-box
        .highlighted-content What Problem do you need solved?
      .body-copy We compiled the most common problems our clients approach us to solve, and broke down our services into each category. Feel free to filter through the problems and discover the different ways Technekes can help you solve them.
      .subhead I need to...
      %button.btn.btn-primary{:type => "button"} show all services

.container.content-section
  .row
    .col-xs-3.col-md-2
      = image_tag "placeholderbox.png", class: "placeholder"
    .col-xs-3.col-md-2
      = image_tag "placeholderbox.png", class: "placeholder"
    .col-xs-3.col-md-2
      = image_tag "placeholderbox.png", class: "placeholder"
    .col-xs-3.col-md-2
      = image_tag "placeholderbox.png", class: "placeholder"
    .col-xs-3.col-md-2
      = image_tag "placeholderbox.png", class: "placeholder"
    .col-xs-3.col-md-2
      = image_tag "placeholderbox.png", class: "placeholder"
  %br
  .row
    .col-xs-3.col-md-2
      = image_tag "placeholderbox.png", class: "placeholder"
    .col-xs-3.col-md-2
      = image_tag "placeholderbox.png", class: "placeholder"
    .col-xs-3.col-md-2
      = image_tag "placeholderbox.png", class: "placeholder"
    .col-xs-3.col-md-2
      = image_tag "placeholderbox.png", class: "placeholder"
    .col-xs-3.col-md-2
      = image_tag "placeholderbox.png", class: "placeholder"
    .col-xs-3.col-md-2
      = image_tag "placeholderbox.png", class: "placeholder"
.container.content-section
  .row
    .col-md-7
      .subhead What we know
      .highlighted-content-box
        .highlighted-content Capabilities
      .body-copy Technekes is filled with talented folks from a range of different fields of work. These are the areas in which we thrive and build upon every day. Click through to read more about each opportunity.
  .row
    .col-md-4
      = image_tag "placeholderbox.png", class: "placeholder"
    .col-md-4
      = image_tag "placeholderbox.png", class: "placeholder"
    .col-md-4
      = image_tag "placeholderbox.png", class: "placeholder"
  .row
    .col-md-4
      = image_tag "placeholderbox.png", class: "placeholder"
    .col-md-4
      = image_tag "placeholderbox.png", class: "placeholder"
    .col-md-4
      = image_tag "placeholderbox.png", class: "placeholder"
.grey
  .container.content-section
    .row
      .col-md-7
        .subhead Who we work with
        .highlighted-content-box
          .highlighted-content Key Industry Verticals
    .row
      .col-md-6
        .card.card-block
          %h4.card-title Agriculture & Life Sciences
          %p.card-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. In varius scelerisque mi, a efficitur ante aliquet at. Praesent pharetra a mauris eu sodales. Vivamus sagittis magna lacus, nec convallis libero placerat a. Nulla fermentum urna a erat porttitor suscipit. Donec molestie arcu eu urna scelerisque lobortis. Ut libero tortor, ultricies.
          .highlighted-content-box
            .subhead-header subhead example
          %ul
            %li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            %li Lorem ipsum...
            %li Lorem ipsum...
            %li Lorem ipsum...
      .col-md-6
        .card.card-block
          %h4.card-title B2B
          %p.card-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. In varius scelerisque mi, a efficitur ante aliquet at. Praesent pharetra a mauris eu sodales. Vivamus sagittis magna lacus, nec convallis libero placerat a. Nulla fermentum urna a erat porttitor suscipit. Donec molestie arcu eu urna scelerisque lobortis. Ut libero tortor, ultricies.
          .highlighted-content-box
            .subhead-header subhead example
          %ul
            %li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            %li Lorem ipsum...
            %li Lorem ipsum...
            %li Lorem ipsum...
    .row
      .col-md-6
        .card.card-block
          %h4.card-title Pharmaceuticals & Medical Devices
          %p.card-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. In varius scelerisque mi, a efficitur ante aliquet at. Praesent pharetra a mauris eu sodales. Vivamus sagittis magna lacus, nec convallis libero placerat a. Nulla fermentum urna a erat porttitor suscipit. Donec molestie arcu eu urna scelerisque lobortis. Ut libero tortor, ultricies.
          .highlighted-content-box
            .subhead-header subhead example
          %ul
            %li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            %li Lorem ipsum...
            %li Lorem ipsum...
            %li Lorem ipsum...
      .col-md-6
        .card.card-block
          %h4.card-title Manufacturing, Distribution & Construction
          %p.card-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. In varius scelerisque mi, a efficitur ante aliquet at. Praesent pharetra a mauris eu sodales. Vivamus sagittis magna lacus, nec convallis libero placerat a. Nulla fermentum urna a erat porttitor suscipit. Donec molestie arcu eu urna scelerisque lobortis. Ut libero tortor, ultricies.
          .highlighted-content-box
            .subhead-header subhead example
          %ul
            %li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            %li Lorem ipsum...
            %li Lorem ipsum...
            %li Lorem ipsum...

.container.content-section
  .row
    .col-md-7
      .subhead Our products
      .highlighted-content-box
        .highlighted-content Platform Solutions
  .row

    .col-md-4
      .resource-name
        RepOnCall &trade;
      .body-copy
        Technekes bolsters your sales efforts and opens the "virtual" door for your field sales, account management, and CRM teams. Let our team of professional, industry-specific reps extend your territory reach and deliver measurable results.
    .col-md-4
      .resource-name
        PaaSport &trade;
      .body-copy
        Managing data in disparate systems isn't easy. That's why we built PaaSport &trade;, our proprietary, fully customizable platform-as-a-service solution that consolidates your sales and marketing data into one central -- and powerful -- database marketing source.
    .col-md-4
      .resource-name
        RewardStation &trade;
      .body-copy
        Administer your customer loyalty and employee incentive programs through our easy-to-use, turnkey software solution. We'll help you boost lead conversion, improve customer retention, and capture market data through your own fully branded program hub.
