.jumbotron
  .subhead-header Services
  .header-headline Capabilities
  .row
    .col-lg-6.header-body-copy
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eleifend feugiat tincidunt. Duis in justo nisi. Aliquam sed erat massa. Donec placerat nibh quis sapien gravida, nec venenatis erat tincidunt. Praesent sit amet dapibus magna. Proin sit amet mi enim. Cras hendrerit mauris non ipsum suscipit dapibus eget a tortor.
    .col-lg-6.header-body-copy
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eleifend feugiat tincidunt. Duis in justo nisi. Aliquam sed erat massa. Donec placerat nibh quis sapien gravida, nec venenatis erat tincidunt. Praesent sit amet dapibus magna. Proin sit amet mi enim. Cras hendrerit mauris non ipsum suscipit dapibus eget a tortor.


.container
  .row
    .col-md-4
      = image_tag "placeholderbox.png", class: "placeholder"
    .col-md-4
      = image_tag "placeholderbox.png", class: "placeholder"
    .col-md-4
      = image_tag "placeholderbox.png", class: "placeholder"
  %br
  .row
    .col-md-4
      = image_tag "placeholderbox.png", class: "placeholder"
    .col-md-4
      = image_tag "placeholderbox.png", class: "placeholder"
    .col-md-4
      = image_tag "placeholderbox.png", class: "placeholder"
  %br
  .row
    .col-md-4
      = image_tag "placeholderbox.png", class: "placeholder"
    .col-md-4
      = image_tag "placeholderbox.png", class: "placeholder"
    .col-md-4
      = image_tag "placeholderbox.png", class: "placeholder"

.container
  %h3.display-4.text-xs-center.p-y-3 Key Industry Verticals
  .row
    .col-md-6
      %h5 Agriculture
      %p Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo
      %h6 Loyalty, Incentive and Process Outsourcing
      %ul
        %li Competitve Response Programs
        %li Grower/End User Payment Programs
        %li Channel Payment Programs
        %li Complaint Handling
      %button.btn.btn-secondary{:type => "button"} Case Studies

    .col-md-6
      %h5 Pharma/Med Device
      %p Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo
      %h6 Loyalty, Incentive and Process Outsourcing
      %ul
        %li Competitve Response Programs
        %li Grower/End User Payment Programs
      %h6 Platform Solutions
      %ul
        %li RxMatters P&P Platform
      %button.btn.btn-secondary{:type => "button"} Case Studies

  .row
    .col-md-6
      %h5 Industrial/Construction
      %p Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo
      %h6 Subhead
      %ul
        %li Bullet
        %li Bullet
        %li Bullet
      %button.btn.btn-secondary{:type => "button"} Case Studies

    .col-md-6
      %h5 B2B
      %p Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo
      %h6 Subhead
      %ul
        %li Bullet
        %li Bullet
        %li Bullet
      %button.btn.btn-secondary{:type => "button"} Case Studies

.container
  %h3.display-4.text-xs-center.p-y-3 Platform Solutions
  .container
  .row
    .col-md-6
      %h4 RepOnCall
      %p Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo
      %p Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.

    .col-md-6
      %h5 Features
      %ul
        %li Feature 1
        %li Feature 2
        %li Feature 3
        %li Feature 4
        %li Feature 5

  .row
    .col-md-6
      %h4 PasSPort
      %p Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo
      %p Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.

    .col-md-6
      %h5 Features
      %ul
        %li Feature 1
        %li Feature 2
        %li Feature 3
        %li Feature 4
        %li Feature 5

  .row
    .col-md-6
      %h4 RewardStation
      %p Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo
      %p Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.

    .col-md-6
      %h5 Features
      %ul
        %li Feature 1
        %li Feature 2
        %li Feature 3
        %li Feature 4
        %li Feature 5
