---
title: Solutions
---
.jumbotron-fluid#solutionsJumbo
  .container
    .row
      .col-md-6.col-md-offset-3.text-xs-center
        .header.light Solutions
        %p.light Navigating through the treacherous business landscape to find the fastest path to revenue is fraught with risk.  Signals is designed to help organizations avoid the hazards of changing consumer preferences and accelerating market cycles by quickly delivering the insight needed to succeed.

.block
  .container
    .text-xs-center
      .header-sm.m-b-1 Solutions by Role
      .row
        .col-lg-6.col-lg-offset-3.col-md-10.col-md-offset-1.m-b-3
          %p Running your business is an all encompassing task.  Whether you are responsible for delivering a peerless customer experience or retaining top talent, making informed, data driven decisions are essential to success.
      / Nav tabs
      %ul.nav.nav-pills.m-b-2.btn-group.hidden-md-down{:role => "tablist"}
        %li.nav-item
          %a.nav-link.active{"data-toggle" => "tab", :href => "#marketing_exec", :role => "tab"} Marketing Exec
        %li.nav-item
          %a.nav-link{"data-toggle" => "tab", :href => "#voc", :role => "tab"} VOC
        %li.nav-item
          %a.nav-link{"data-toggle" => "tab", :href => "#business_exec", :role => "tab"} Business Exec
        %li.nav-item
          %a.nav-link{"data-toggle" => "tab", :href => "#hr", :role => "tab"} HR
        %li.nav-item
          %a.nav-link{"data-toggle" => "tab", :href => "#cio", :role => "tab"} CIO
        %li.nav-item
          %a.nav-link{"data-toggle" => "tab", :href => "#call_exec", :role => "tab"} Call Center Exec
        %li.nav-item
          %a.nav-link{"data-toggle" => "tab", :href => "#sales", :role => "tab"} Sales Leader

      / Dropdown
      .btn-group.hidden-lg-up.m-b-2
        %button.btn.btn-primary-blue.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
          Marketing Exec
        .dropdown-menu
          %a.dropdown-item{"data-toggle" => "tab", :href => "#marketing_exec", :role => "tab"} Marketing Exec
          %a.dropdown-item{"data-toggle" => "tab", :href => "#voc", :role => "tab"} VOC
          %a.dropdown-item{"data-toggle" => "tab", :href => "#business_exec", :role => "tab"} Business Exec
          %a.dropdown-item{"data-toggle" => "tab", :href => "#hr", :role => "tab"} HR
          %a.dropdown-item{"data-toggle" => "tab", :href => "#cio", :role => "tab"} CIO
          %a.dropdown-item{"data-toggle" => "tab", :href => "#call_exec", :role => "tab"} Call Center Exec
          %a.dropdown-item{"data-toggle" => "tab", :href => "#sales", :role => "tab"} Sales Leader

      / Tab panes
      .tab-content
        #marketing_exec.fade.in.tab-pane.active{:role => "tabpanel"}
          %img.role-icon{ :src => "/assets/images/icons/solutions_icons/mark-exec.png" }/
          .row
            .col-lg-6.col-lg-offset-3.col-md-10.col-md-offset-1
              %p Complex, multi-channel marketing campaigns are essential to feeding the sales engine.  Signals text analytics solution allows marketing resources to see customer insights from unstructured text in real-time along with related sales and market response data.  Gaining insight across every marketing touch-point, from snail mail to SnapChat, will ensure you are reaching the right audience at the right time.
          .row
            .col-lg-10.col-lg-offset-1.col-xs-12
              .row
                - data.case_studies.each do |study, index|
                  - if study.tag == "marketing_exec"
                    -  if data.case_studies.select {|hash| hash[:tag] == "marketing_exec"}.count == 1
                      .col-md-6.col-md-offset-3
                        .card.small-case-card
                          .card-block
                            .row
                              .col-xl-6.small-img-box.m-b-1.hidden-md-down
                                %img.small-case-img{ src: "assets/images/case_studies/headers/#{study.jumbo}"}
                              .col-xl-6.text-xl-left.text-xs-center
                                .serif-sm.m-b-1
                                  = study.header
                                %a.btn.btn-primary-dark-sm{ href: "#{study.slug}.html"}
                                  Read Case Study
                    - else
                      .col-md-6
                        .card.small-case-card
                          .card-block
                            .row
                              .col-xl-6.small-img-box.m-b-1.hidden-md-down
                                %img.small-case-img{ src: "assets/images/case_studies/headers/#{study.jumbo}"}
                              .col-xl-6.text-xl-left.text-xs-center
                                .serif-sm.m-b-1
                                  = study.header
                                %a.btn.btn-primary-dark-sm{ href: "#{study.slug}.html"}
                                  Read Case Study

        #voc.tab-pane.fade{:role => "tabpanel"}
          %img.role-icon{ :src => "/assets/images/icons/solutions_icons/voc.png" }/
          .row
            .col-lg-6.col-lg-offset-3.col-md-10.col-md-offset-1
              %p Signals is a Voice of the Customer amplifier.  Analyzing customer feedback from multiple sources quickly so trends and changes in customer behavior are identified early before they impact your business.  Signals can also help you differentiate customer wants and needs so you can customize every individual interaction and make every Customer feel like they’re your only Customer.
          .row
            .col-lg-10.col-lg-offset-1.col-xs-12
              .row
                - data.case_studies.each do |study, index|
                  - if study.tag == "voc"
                    -  if data.case_studies.select {|hash| hash[:tag] == "voc"}.count == 1
                      .col-md-6.col-md-offset-3
                        .card.small-case-card
                          .card-block
                            .row
                              .col-xl-6.small-img-box.m-b-1.hidden-md-down
                                %img.small-case-img{ src: "assets/images/case_studies/headers/#{study.jumbo}"}
                              .col-xl-6.text-xl-left.text-xs-center
                                .serif-sm.m-b-1
                                  = study.header
                                %a.btn.btn-primary-dark-sm{ href: "#{study.slug}.html"}
                                  Read Case Study
                    - else
                      .col-md-6
                        .card.small-case-card
                          .card-block
                            .row
                              .col-xl-6.small-img-box.m-b-1.hidden-md-down
                                %img.small-case-img{ src: "assets/images/case_studies/headers/#{study.jumbo}"}
                              .col-xl-6.text-xl-left.text-xs-center
                                .serif-sm.m-b-1
                                  = study.header
                                %a.btn.btn-primary-dark-sm{ href: "#{study.slug}.html"}
                                  Read Case Study

        #business_exec.tab-pane.fade{:role => "tabpanel"}
          %img.role-icon{ :src => "/assets/images/icons/solutions_icons/bus-exec.png" }/
          .row
            .col-lg-6.col-lg-offset-3.col-md-10.col-md-offset-1
              %p Revenue targets are relentless and, as a business leader, it is difficult to know where to invest.  Do you need to get a new marketing campaign started or are problems with your mobile app a bigger problem?  Signals can give you the insight needed to understand the health of your business, from customer feedback to app reviews - and everything in between.  This 360 degree view allows you to make data driven decisions before it is too late.
          .row
            .col-lg-10.col-lg-offset-1.col-xs-12
              .row
                - data.case_studies.each do |study, index|
                  - if study.tag == "business-exec"
                    -  if data.case_studies.select {|hash| hash[:tag] == "business-exec"}.count == 1
                      .col-md-6.col-md-offset-3
                        .card.small-case-card
                          .card-block
                            .row
                              .col-xl-6.small-img-box.m-b-1.hidden-md-down
                                %img.small-case-img{ src: "assets/images/case_studies/headers/#{study.jumbo}"}
                              .col-xl-6.text-xl-left.text-xs-center
                                .serif-sm.m-b-1
                                  = study.header
                                %a.btn.btn-primary-dark-sm{ href: "#{study.slug}.html"}
                                  Read Case Study
                    - else
                      .col-md-6
                        .card.small-case-card
                          .card-block
                            .row
                              .col-xl-6.small-img-box.m-b-1.hidden-md-down
                                %img.small-case-img{ src: "assets/images/case_studies/headers/#{study.jumbo}"}
                              .col-xl-6.text-xl-left.text-xs-center
                                .serif-sm.m-b-1
                                  = study.header
                                %a.btn.btn-primary-dark-sm{ href: "#{study.slug}.html"}
                                  Read Case Study

        #hr.tab-pane.fade{:role => "tabpanel"}
          %img.role-icon{ :src => "/assets/images/icons/solutions_icons/hr.png" }/
          .row
            .col-lg-6.col-lg-offset-3.col-md-10.col-md-offset-1
              %p People are the essence of every company and finding, hiring and keeping the right people is a continuous challenge.  The unique ability for Signals to allow you to compare performance review comments, employee survey results, social data like Indeed or Glassdoor at an individual level will help you drive policy, benefit and employee satisfaction initiatives that matter and, in doing so, help keep people doing what they do best - satisfying the customer.
          .row
            .col-lg-10.col-lg-offset-1.col-xs-12
              .row
                - data.case_studies.each do |study, index|
                  - if study.tag == "hr"
                    -  if data.case_studies.select {|hash| hash[:tag] == "hr"}.count == 1
                      .col-md-6.col-md-offset-3
                        .card.small-case-card
                          .card-block
                            .row
                              .col-xl-6.small-img-box.m-b-1.hidden-md-down
                                %img.small-case-img{ src: "assets/images/case_studies/headers/#{study.jumbo}"}
                              .col-xl-6.text-xl-left.text-xs-center
                                .serif-sm.m-b-1
                                  = study.header
                                %a.btn.btn-primary-dark-sm{ href: "#{study.slug}.html"}
                                  Read Case Study
                    - else
                      .col-md-6
                        .card.small-case-card
                          .card-block
                            .row
                              .col-xl-6.small-img-box.m-b-1.hidden-md-down
                                %img.small-case-img{ src: "assets/images/case_studies/headers/#{study.jumbo}"}
                              .col-xl-6.text-xl-left.text-xs-center
                                .serif-sm.m-b-1
                                  = study.header
                                %a.btn.btn-primary-dark-sm{ href: "#{study.slug}.html"}
                                  Read Case Study

        #cio.tab-pane.fade{:role => "tabpanel"}
          %img.role-icon{ :src => "/assets/images/icons/solutions_icons/cio.png" }/
          .row
            .col-lg-6.col-lg-offset-3.col-md-10.col-md-offset-1
              %p Technology is transforming the world and the role of CIO’s across the globe is changing.  People and systems are generating more data than ever before and, as the steward of those data systems, it is imperative that you help make data actionable for leaders across the organization.  Delivering a secure, easy to use analytics platform enables your peers to make data driven business decisions.  Signals is a SaaS based platform that processes, visualizes and enables collaboration without wasting IT resources or requiring costly professional services.
          .row
            .col-lg-10.col-lg-offset-1.col-xs-12
              .row
                - data.case_studies.each do |study, index|
                  - if study.tag == "cio"
                    -  if data.case_studies.select {|hash| hash[:tag] == "cio"}.count == 1
                      .col-md-6.col-md-offset-3
                        .card.small-case-card
                          .card-block
                            .row
                              .col-xl-6.small-img-box.m-b-1.hidden-md-down
                                %img.small-case-img{ src: "assets/images/case_studies/headers/#{study.jumbo}"}
                              .col-xl-6.text-xl-left.text-xs-center
                                .serif-sm.m-b-1
                                  = study.header
                                %a.btn.btn-primary-dark-sm{ href: "#{study.slug}.html"}
                                  Read Case Study
                    - else
                      .col-md-6
                        .card.small-case-card
                          .card-block
                            .row
                              .col-xl-6.small-img-box.m-b-1.hidden-md-down
                                %img.small-case-img{ src: "assets/images/case_studies/headers/#{study.jumbo}"}
                              .col-xl-6.text-xl-left.text-xs-center
                                .serif-sm.m-b-1
                                  = study.header
                                %a.btn.btn-primary-dark-sm{ href: "#{study.slug}.html"}
                                  Read Case Study

        #call_exec.tab-pane.fade{:role => "tabpanel"}
          %img.role-icon{ :src => "/assets/images/icons/solutions_icons/call-exec.png" }/
          .row
            .col-lg-6.col-lg-offset-3.col-md-10.col-md-offset-1
              %p Call centers are no longer measured solely on talk times and hold times they have become an integrated part of the business and a critical customer touch point.  Signals can help call center leaders understand effective customer interactions - maximizing effectiveness by providing language analytics and delivering feedback on derailing or enabling behaviors at the representative and customer level.
          .row
            .col-lg-10.col-lg-offset-1.col-xs-12
              .row
                - data.case_studies.each do |study, index|
                  - if study.tag == "call_exec"
                    -  if data.case_studies.select {|hash| hash[:tag] == "call_exec"}.count == 1
                      .col-md-6.col-md-offset-3
                        .card.small-case-card
                          .card-block
                            .row
                              .col-xl-6.small-img-box.m-b-1.hidden-md-down
                                %img.small-case-img{ src: "assets/images/case_studies/headers/#{study.jumbo}"}
                              .col-xl-6.text-xl-left.text-xs-center
                                .serif-sm.m-b-1
                                  = study.header
                                %a.btn.btn-primary-dark-sm{ href: "#{study.slug}.html"}
                                  Read Case Study
                    - else
                      .col-md-6
                        .card.small-case-card
                          .card-block
                            .row
                              .col-xl-6.small-img-box.m-b-1.hidden-md-down
                                %img.small-case-img{ src: "assets/images/case_studies/headers/#{study.jumbo}"}
                              .col-xl-6.text-xl-left.text-xs-center
                                .serif-sm.m-b-1
                                  = study.header
                                %a.btn.btn-primary-dark-sm{ href: "#{study.slug}.html"}
                                  Read Case Study

        #sales.tab-pane.fade{:role => "tabpanel"}
          %img.role-icon{ :src => "/assets/images/icons/solutions_icons/sales.png" }/
          .row
            .col-lg-6.col-lg-offset-3.col-md-10.col-md-offset-1
              %p Hyper competitive sales landscapes require field resources to be fully informed and prepared to successfully close cycles.  Signals can provide rich, comprehensive industry level knowledge in real-time so your team is always informed.  Signals is also an incredible way to visualize feedback about your product versus those of your competitor; maximizing the opportunity to close the deal in real-time.
          .row
            .col-lg-10.col-lg-offset-1.col-xs-12
              .row
                - data.case_studies.each do |study, index|
                  - if study.tag == "sales"
                    -  if data.case_studies.select {|hash| hash[:tag] == "sales"}.count == 1
                      .col-md-6.col-md-offset-3
                        .card.small-case-card
                          .card-block
                            .row
                              .col-xl-6.small-img-box.m-b-1.hidden-md-down
                                %img.small-case-img{ src: "assets/images/case_studies/headers/#{study.jumbo}"}
                              .col-xl-6.text-xl-left.text-xs-center
                                .serif-sm.m-b-1
                                  = study.header
                                %a.btn.btn-primary-dark-sm{ href: "#{study.slug}.html"}
                                  Read Case Study
                    - else
                      .col-md-6
                        .card.small-case-card
                          .card-block
                            .row
                              .col-xl-6.small-img-box.m-b-1.hidden-md-down
                                %img.small-case-img{ src: "assets/images/case_studies/headers/#{study.jumbo}"}
                              .col-xl-6.text-xl-left.text-xs-center
                                .serif-sm.m-b-1
                                  = study.header
                                %a.btn.btn-primary-dark-sm{ href: "#{study.slug}.html"}
                                  Read Case Study

%hr
.block
  .container
    .text-xs-center
      .header-sm.m-b-1 Solutions by Data Type
      .row
        .col-lg-6.col-lg-offset-3.col-md-10.col-md-offset-1.m-b-3
          %p The quality of your analytics is based on the quality of your data.  The Signals platform is designed to unify disparate data from a broad set of data sources so you can easily see the trends and relationships critical to your business.
      / Nav tabs
      %ul.nav.nav-pills.m-b-2.hidden-md-down{:role => "tablist"}
        %li.nav-item
          %a.nav-link.active{"data-toggle" => "tab", :href => "#public", :role => "tab"} Public Domain Data
        %li.nav-item
          %a.nav-link{"data-toggle" => "tab", :href => "#erp", :role => "tab"} ERP Data
        %li.nav-item
          %a.nav-link{"data-toggle" => "tab", :href => "#back_end", :role => "tab"} Back End Data
      / Dropdown
      .btn-group.hidden-lg-up.m-b-2
        %button.btn.btn-primary-blue.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
          Public Domain Data
        .dropdown-menu
          %a.dropdown-item{"data-toggle" => "tab", :href => "#public", :role => "tab"} Public Domain Data
          %a.dropdown-item{"data-toggle" => "tab", :href => "#erp", :role => "tab"} ERP Data
          %a.dropdown-item{"data-toggle" => "tab", :href => "#back_end", :role => "tab"} Back End Data

      / Tab panes
      .tab-content
        #public.tab-pane.active{:role => "tabpanel"}
          %img.role-icon{:alt => "First slide", :src => "/assets/images/icons/solutions_icons/pub-dom-data.png"}/
          .row
            .col-md-6.col-md-offset-3
              %p The Big Bang of data continues to create unimaginable volumes of insight across the web.  Signals’ no-touch data connector library allows anyone to find and capture data quickly and easily without IT or professional services resources so you can harness the value of data literally kept across the globe.
          .row
            .col-lg-10.col-lg-offset-1.col-xs-12
              .row
                - data.case_studies.each do |study, index|
                  - if study.tag == "public"
                    -  if data.case_studies.select {|hash| hash[:tag] == "public"}.count == 1
                      .col-md-6.col-md-offset-3
                        .card.small-case-card
                          .card-block
                            .row
                              .col-xl-6.small-img-box.m-b-1.hidden-md-down
                                %img.small-case-img{ src: "assets/images/case_studies/headers/#{study.jumbo}"}
                              .col-xl-6.text-xl-left.text-xs-center
                                .serif-sm.m-b-1
                                  = study.header
                                %a.btn.btn-primary-dark-sm{ href: "#{study.slug}.html"}
                                  Read Case Study
                    - else
                      .col-md-6
                        .card.small-case-card
                          .card-block
                            .row
                              .col-xl-6.small-img-box.m-b-1.hidden-md-down
                                %img.small-case-img{ src: "assets/images/case_studies/headers/#{study.jumbo}"}
                              .col-xl-6.text-xl-left.text-xs-center
                                .serif-sm.m-b-1
                                  = study.header
                                %a.btn.btn-primary-dark-sm{ href: "#{study.slug}.html"}
                                  Read Case Study

        #erp.tab-pane.fade{:role => "tabpanel"}
          %img.role-icon{:alt => "First slide", :src => "/assets/images/icons/solutions_icons/erp-data.png"}/
          .row
            .col-md-6.col-md-offset-3
              %p Business information is everywhere and the ability to process data streams in real-time is essential to running your business.  Signals is uniquely suited to solving complex business challenges by unifying data from multiple systems into a single view.  Our mid-tier data connectors afford you the opportunity to pull customer service records from SalesForce and analyze them in real-time against social and back-end data sets.
          .row
            .col-lg-10.col-lg-offset-1.col-xs-12
              .row
                - data.case_studies.each do |study, index|
                  - if study.tag == "erp"
                    -  if data.case_studies.select {|hash| hash[:tag] == "erp"}.count == 1
                      .col-md-6.col-md-offset-3
                        .card.small-case-card
                          .card-block
                            .row
                              .col-xl-6.small-img-box.m-b-1.hidden-md-down
                                %img.small-case-img{ src: "assets/images/case_studies/headers/#{study.jumbo}"}
                              .col-xl-6.text-xl-left.text-xs-center
                                .serif-sm.m-b-1
                                  = study.header
                                %a.btn.btn-primary-dark-sm{ href: "#{study.slug}.html"}
                                  Read Case Study
                    - else
                      .col-md-6
                        .card.small-case-card
                          .card-block
                            .row
                              .col-xl-6.small-img-box.m-b-1.hidden-md-down
                                %img.small-case-img{ src: "assets/images/case_studies/headers/#{study.jumbo}"}
                              .col-xl-6.text-xl-left.text-xs-center
                                .serif-sm.m-b-1
                                  = study.header
                                %a.btn.btn-primary-dark-sm{ href: "#{study.slug}.html"}
                                  Read Case Study

        #back_end.tab-pane.fade{:role => "tabpanel"}
          %img.role-icon{:alt => "First slide", :src => "/assets/images/icons/solutions_icons/back-end-data.png"}/
          .row
            .col-md-6.col-md-offset-3
              %p The Big Data revolution continues to rage and companies are investing heavily in massive data lakes.  Regardless of whether all your most important data lives in Hadoop or you still maintain a healthy CIS infrastructure, Signals can process your unstructured and structured organizational data.
          .row
            .col-lg-10.col-lg-offset-1.col-xs-12
              .row
                - data.case_studies.each do |study, index|
                  - if study.tag == "back_end"
                    -  if data.case_studies.select {|hash| hash[:tag] == "back_end"}.count == 1
                      .col-md-6.col-md-offset-3
                        .card.small-case-card
                          .card-block
                            .row
                              .col-xl-6.small-img-box.m-b-1.hidden-md-down
                                %img.small-case-img{ src: "assets/images/case_studies/headers/#{study.jumbo}"}
                              .col-xl-6.text-xl-left.text-xs-center
                                .serif-sm.m-b-1
                                  = study.header
                                %a.btn.btn-primary-dark-sm{ href: "#{study.slug}.html"}
                                  Read Case Study
                    - else
                      .col-md-6
                        .card.small-case-card
                          .card-block
                            .row
                              .col-xl-6.small-img-box.m-b-1.hidden-md-down
                                %img.small-case-img{ src: "assets/images/case_studies/headers/#{study.jumbo}"}
                              .col-xl-6.text-xl-left.text-xs-center
                                .serif-sm.m-b-1
                                  = study.header
                                %a.btn.btn-primary-dark-sm{ href: "#{study.slug}.html"}
                                  Read Case Study

#matrix.hidden-md-down
  .block-blue-pad
    .container
      .text-xs-center
        #visualization.current.first.js-chartHeader{ data: { config: 2 } }
          .header-sm.light.m-y-1 Visualization Layer
          .row
            .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
              %p.light Single pane of glass visualization tools are extremely valuable within organizations. The matrix below provides an overview of how Signals compares with other visualization tools.

        #dataSources.js-chartHeader{ data: { config: 0 } }
          .header-sm.light.m-y-1 Data Sources
          .row
            .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
              %p.light There are many different platforms that focus on collecting data from disparate data sources. This data source matrix articulates who can process data across the three primary data categories.


        #analytics.last.js-chartHeader{ data: { config: 1 } }
          .header-sm.light.m-y-1 Analytics
          .row
            .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
              %p.light Machine learning is the next generation of analytics. The matrix below provides an easily understood view of our competitors.

        .row
          .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
            .text-xs-center
              %button.btn.btn-primary#prev{:type => "button", :disabled => ""} <
              %button.btn.btn-primary#next{:type => "button"} >
  .block
    .container
      %canvas#Chart.chart{:height => "100", :width => "300"}


.matrix-mobile.hidden-lg-up
  .block-blue-pad
    .container#visualization.current
      .row
        .col-xs-12
          .header-sm.light.m-y-1 Visualization Layer
          %p.light
            Single pane of glass visualization tools are extremely valuable within organizations. Unlike other visualization tools, Signals includes:
            %ul.light
              %li Flexible Visualization Capabilities 
              %li Easy Usability, Little Training Required 
              %li Analytical Capabilities 
              %li “Live-Share” Collaboration 
              %li Record Level Navigation
    .separator
    .container
      .row
        .col-xs-12
          .header-sm.light.m-y-1 Analytics
          %p.light
            Machine learning is the next generation of analytics. Signals does the work for you, ensuring a quicker and easier process, by providing these vital features:
            %ul.light
              %li NLP, Text Analytics, Sentiment Analysis 
              %li Machine Learning, Statistical Analysis
              %li Taxonomical Education Not Required
    .separator
    .container
      .row
        .col-xs-12
          .header-sm.light.m-y-1 Data Sources
          %p.light
            There are many different platforms that focus on collecting data from disparate data sources. While others process data from just one or two data categories, Signals processes data across all three primary categories:
            %ul.light
              %li 3rd Party or Public Domain Data (Social Media, News, Blogs, etc.)
              %li 2nd Party Data (SalesForce, Zendesk, etc.) 
              %li 1st Party or Internal Data (Data Warehouse, Hadoop, etc.)
